#result {
    display: none;
    background-color: white;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

#resultCategory {
    background-color: white;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}
.resultname {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 2px;
}

.resultname-s {
    font-size: 20px;
    margin: 2px;
    padding: 2px;
}

.resultDesc {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 50px;
    padding: 2px;
    line-height: 1.8;
}

.gohome {
    background-color: #bbdc6f;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    border: 0px;
    margin: 5px;
}

.gohome:hover, .gohome:focus {
    background-color: #acc869;
    color: #5d5d54;
    font-size: 20px;
}

.retry {
    background-color: #fee500;
    border-radius: 15px;
    font-size: 20px;
    border: 0px;
    margin: 5px;
}

.retry:hover, .retry:focus {
    background-color: #e9d202;
    color: #ffffff;
    font-size: 20px;
}



.customoverlay {position:relative;bottom:85px;border-radius:4px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}

/* 사진 애니메이션 */

.slide-tr-l {
    position: relative;
    z-index: 1;
	animation: slide-tr-l 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-tr-r {
    position: relative;
    z-index: 2;
	animation: slide-tr-r 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-tr-l:hover {
    z-index: 3;
    }

.slide-tr-l img, .slide-tr-r img {
    width: 70%;
    border : 10px solid white; 
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
}


@keyframes slide-tr-r {
0% {
    transform: translateY(0) translateX(0);
}

100% {
    transform: translateY(-20px) translateX(60px) rotate(10deg);
}

}

@keyframes slide-tr-l {
0% {
    transform: translateY(0) translateX(0);
}

100% {
    transform: translateY(-20px) translateX(-60px) rotate(-10deg);
}

}

tr, td {
    padding: 5px 30px 5px 10px;
}